@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@font-face {
    font-family: 'eklis font';
    src: url('fonts/Eklis.eot');
    src: url('fonts/Eklis.eot?#iefix') format('embedded-opentype'),
        url('fonts/Eklis.woff2') format('woff2'),
        url('fonts/Eklis.woff') format('woff'),
        url('fonts/Eklis.svg#Eklis') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

html{
    scroll-behavior: smooth;
}

body, html{
    height: 100%;
}

/* ------------------ DEFAULT ------------------ */

    body {
        font-family: 'Montserrat', 'sans-serif'; 
        font-size: 18px;
        font-weight: normal;
        letter-spacing: 0.02em;
        color: #333333;
        background-color: #FCFCFC;    
    }

    h3 {
        font-size: 25px;
        font-weight: 700;
        letter-spacing: 0.02em;
        color: #4F4F4F;
    }

    p {
        font-size: 18px;
        font-weight: normal;
        letter-spacing: 0.02em;
        text-align: justify;
        text-justify:inter-word;
        color: #4F4F4F;
    }

    a {
        font-size: 18px;
        font-weight: normal;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: #846E52;
    }
    a:hover {
        color: #846E52;
        font-weight: 700;
    }

    a.semibold-link{
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: #846E52;
        transition: 0.3s linear;
        border-bottom: 1px solid transparent;
    }
    a:hover.semibold-link{
        border-color: #846E52;
    }

    button {
        color: #F6F6F6;
        border: none;
        background-color: #916453;

        width: calc(115px + 6vw);
        height: calc(40px + 3vw);
        max-width: 180px;
        max-height: 50px;
        border-radius: 25px;
    }
    button:hover {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }



/*-------------MENU-------------*/

    .menu{
        position: relative;
        top: 5px;
        bottom: -5px;
        left: 50%;
        width: 100%;
        max-width: 1300px;
        transform: translateX(-50%);
        display: flex;
        overflow-y: hidden;
        /*br line*/
        padding-bottom: 5px;
        border-bottom: 1px solid rgba(86, 86, 86, 0.78);
    }
    /* Logo */
    .menu .left a{
        text-decoration: none;
    }
    /* Nav */
    .menu .right{
        position: absolute;
        right: 0%;
        height: 90px;
        
    }

    .menu ul {
        margin-top: 45px;
        transform: translateY(-50%);
    }

    .menu ul li{
        display: inline;
        list-style: none;
        padding: 0px 30px;
    }

/*-------------HERO-------------*/

    .hero-header{
        background: linear-gradient(rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08)), url('../img/bg.jpg');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        height: 100%;
    }

    .hero-content{
        text-align: center;
        position: relative;
        width: 100%;
        height: auto;
        top: 40%;
        transform: translateY(-50%);
        color: white;
    }

    h1.hero-title{
        font-family: 'eklis font', 'segoe print', 'arial';
        font-size: calc(0.5rem + 8vmin);
        letter-spacing: 0.2rem;
        overflow-y: hidden;
    }

    h2.hero-subtitle{
        font-family: 'Montserrat', 'sans-serif'; 
        font-weight: normal;
        font-size: calc(0.5rem + 4vmin);
        overflow-y: hidden;
    }


/*-------------CTA-------------*/

    button.cta{
        /*Text*/
        font-family: 'Montserrat';
        font-style: normal;
        font-size: calc(0.7rem + 1.5vmin);
        letter-spacing: 0.01em;
        color: white;

        /*Button box*/
        border: none;
        width: 100%;
        max-width: 304px;
        height: calc(50px + 1vw);
        max-height: 75px;
        border-radius: 20px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

        /*background*/
        background: #846E52;
        background-size: 0%; /*Underline is animated with background-size*/
        background-image: url('../icons/cta-underline.svg');
        background-position: 50% 80%;
        background-repeat: no-repeat;

        /*Transition*/
        transition-property: background-size, box-shadow;
        transition-duration: 0.3s;
        transition-timing-function: linear;
        
    }

    button.cta:hover{
        box-shadow: none;
        background-size: 40%;
        filter: none;
    }

    button.cta:active{
        box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
    }



/*-------------ABOUT-------------*/
    .about{
        min-height: 80%;  
    }

    .about .parts {
        margin: 40px 0px;
        display: flex;
        flex-direction: column;
    }

    .about .part {
        padding: 10px 0px;
        flex:auto;
    }
    
    .about .part p {
        margin-top: 6px;
        margin-left: 4%;
    }
    .about .part .icon{
       width: 8vw;
       max-width: 65px;
    }

    .about .background-image {
        background: linear-gradient(90deg, #FCFCFC 0%, rgba(252, 252, 252, 0) 98.49%), 
                    linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), 
                    url('../img/René Carayol/Eklis-202012-ST-001 RC34-BD.jpg');
        background-repeat: no-repeat;
        background-position: top right;
        background-size: cover;  
        z-index: 0; /*prevent border line between div and linear gradient*/
    }


/*-------------ACHIEVEMENTS-------------*/
    .achievements {
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .achievements .title {
        width: 100%;
        text-align: center;
        text-decoration: underline;
        margin-bottom: 20px;
    }

    .slide { 
        display: flex;
        overflow-x:scroll;
        flex-wrap: nowrap;
    }

    /*Hide horizontal scrollbar (scroll in JS)*/
    .slide::-webkit-scrollbar {
        display: none;
    }
    .slide {
        -ms-overflow-style: none;  /* IE and Edge */
    }

    .card {
        flex: 0 0 auto;
        margin: 20px;
        width: 100%;
        max-width: 400px;
        height: auto;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    }

    .card img {
        height: 80%;
        max-height: 630px;
        object-fit: cover;
        object-position: 0 100%;
    }

    .card .content {
        overflow-y: hidden;
        margin: 10px 10px 0px 10px;
    }

    .card-text {
        max-width: 100%;
    }

    .card-seemore{
        float: right;
        margin-bottom: 5px;
    }

    .achievements button {
        margin-top: 20px;
        margin-bottom: 14px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.3s linear;
    }



/*-------------SOCIALS-------------*/

    .socials {
        margin-top: 64px;
        /*space between*/
        display: flex;
        justify-content: space-evenly;
        /*alignement*/
        text-align: center;
        /*responsive*/
        width: 100%;
        height: calc(73px + 4vw);
        max-height: 150px;
        background: linear-gradient(90.41deg, #9778AB 0%, #AB9478 100%);
    }

    .socials div {
        height: 100%;  
    }

    .socials img {
        position: relative;
        height: 63px;
        /*vertical middle*/
        top: 50%;
        transform: translateY(-50%);
        /*animation*/
        transition: 0.2s linear;
    }

    .socials img:hover {
        filter: invert(44%) sepia(17%) saturate(695%) hue-rotate(354deg) brightness(95%) contrast(93%); /*#846E52*/
    }