.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
*.secret
__pycache__
*.db
app/app.db
app/static/files/*
!app/static/files/.gitkeep
