/*-------------LEGALS-------------*/

    .legals {
        padding-top: 40px;
        margin-left: 20%;
    }

    .legals>.title {
        text-decoration: underline;
    }
     
    .legals>p {
        margin-left: 2%;
    }