/*-------------HERO IMAGE-------------*/

    .hero-header{
        background: linear-gradient(rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.60)), url('../img/bg-contact.min.jpg');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        height: 100%;
    }



/*-------------GLOBAL CONTACT-------------*/
    .contact {
        text-align: center;
    }

    .contact>.title{
        font-weight: 600;
        font-size: 52px;
        text-decoration: underline;
    }

    .contact>.icon{
        width: 80px;
    }

    .contact-link {
        font-weight: 600;
        font-size: 31px;
        text-decoration: underline;
    }

    .contact-link:hover {
        font-weight: 800;
        letter-spacing: 0.03em;
    }

    .bigbreak {
        margin-bottom: 80px;
    }


/*-------------SEPARATOR-------------*/

    .separator{
        max-width: 60%;
        margin-left: 20%;
    }

/*-------------PERSONNAL CONTACT-------------*/
    .personnals{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 9vh;
        margin-bottom: 7vh;
    }

    .personnal {
        min-width: 20%;
    }

    .personnal>.name{
        text-align: center;
        font-weight: 600;
        font-size: 30px;
    }
    
    .thomas p{
        text-align: right;
    }