/*-------------ABOUT-------------*/
    .about{
        min-height: 80%;  
    }

    .about .parts {
        margin: 40px 0px;
        display: flex;
        flex-direction: column;
    }

    .about .part {
        padding: 10px 0px;
        flex:auto;
    }
    
    .about .part p {
        margin-top: 6px;
        margin-left: 4%;
    }
    .about .part .icon{
       width: 8vw;
       max-width: 65px;
    }

    .about .background-image {
        background: linear-gradient(90deg, #FCFCFC 0%, rgba(252, 252, 252, 0) 98.49%), 
                    linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), 
                    url('../img/René Carayol/Eklis-202012-ST-001 RC34-BD.jpg');
        background-repeat: no-repeat;
        background-position: top right;
        background-size: cover;  
        z-index: 0; /*prevent border line between div and linear gradient*/
    }

    @media all and (max-width: 768px) {
        .about .part {
            padding-right: 18px;
            padding-left: 18px;
        }
    }


/*-------------ACHIEVEMENTS-------------*/
    .achievements {
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .achievements .title {
        width: 100%;
        text-align: center;
        text-decoration: underline;
        margin-bottom: 20px;
    }

    .slide { 
        display: flex;
        overflow-x:scroll;
        flex-wrap: nowrap;
    }

    /*Hide horizontal scrollbar (scroll in JS)*/
    .slide::-webkit-scrollbar {
        display: none;
    }
    .slide {
        -ms-overflow-style: none;  /* IE and Edge */
    }

    .card {
        flex: 0 0 auto;
        margin: 20px;
        width: 100%;
        max-width: 400px;
        height: auto;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    }

    .card img {
        height: 80%;
        max-height: 630px;
        object-fit: cover;
        object-position: 0 100%;
    }

    .card .content {
        overflow-y: hidden;
        margin: 10px 10px 0px 10px;
    }

    .card-text {
        max-width: 100%;
    }

    .card-seemore{
        float: right;
        margin-bottom: 5px;
    }

    .achievements button {
        margin-top: 20px;
        margin-bottom: 14px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.3s linear;
    }